html[lang^="ja"] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th,
span,
time {
  font-family: 'Courier New', monospace;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Desktop */

h1 {
  font-weight: var(--plmg-font-weight-extralight);
  font-size: var(--plmg-font-size-x4);
  letter-spacing: var(--plmg-font-letterspacing-tight);
  line-height: var(--plmg-font-lineheight-tight);
}

h2 {
  font-size: var(--plmg-font-size-x2-5);
  letter-spacing: var(--plmg-font-letterspacing-tight);
  line-height: var(--plmg-font-lineheight-normal);
}

h3 {
  font-size: var(--plmg-font-size-x2);
  letter-spacing: var(--plmg-font-letterspacing-normal);
  line-height: var(--plmg-font-lineheight-normal);
}

h4 {
  font-size: var(--plmg-font-size-x1-5);
  letter-spacing: var(--plmg-font-letterspacing-normal);
  line-height: var(--plmg-font-lineheight-normal);
}

h5 {
  font-size: var(--plmg-font-size-x1-25);
  letter-spacing: var(--plmg-font-letterspacing-normal);
  line-height: var(--plmg-font-lineheight-loose);
}

h2,
h3,
h4,
h5 {
  font-weight: var(--plmg-font-weight-semibold);
}

.body-text-1,
.body-text-2,
.body-text-3,
.body-text-4 {
  font-weight: var(--plmg-font-weight-regular);
}

.body-text-1 {
  font-size: var(--plmg-font-size-x2);
  letter-spacing: var(--plmg-font-letterspacing-normal);
  line-height: var(--plmg-font-lineheight-normal);
}

.body-text-2 {
  font-size: var(--plmg-font-size-x1-25);
  letter-spacing: var(--plmg-font-letterspacing-loose);
  line-height: var(--plmg-font-lineheight-loose);
}

.body-text-3 {
  font-size: var(--plmg-font-size-x1-125);
  letter-spacing: var(--plmg-font-letterspacing-loose);
  line-height: var(--plmg-font-lineheight-loose);
}

.body-text-4 {
  font-size: var(--plmg-font-size-x0-875);
  letter-spacing: var(--plmg-font-letterspacing-loose);
  line-height: var(--plmg-font-lineheight-loose);
}

.body-text-1 > br,
.body-text-2 > br,
.body-text-3 > br,
.body-text-4 > br {
  display: block;
  margin-bottom: calc(var(--plmg-font-paragraph-normal) / 10);
  content: " ";
}

/* Responsive font sizes */

/* Medium (960px - 1279px) */
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  h1 {
    font-size: var(--plmg-font-size-x3);
  }
  h2 {
    font-size: var(--plmg-font-size-x2);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  h3 {
    font-size: var(--plmg-font-size-x1-5);
  }
  h4 {
    font-size: var(--plmg-font-size-x1-25);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h5 {
    font-size: var(--plmg-font-size-x1-125);
  }
  .body-text-1 {
    font-size: var(--plmg-font-size-x1-5);
  }
  .body-text-2 {
    font-size: var(--plmg-font-size-x1-125);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  .body-text-3 {
    font-size: var(--plmg-font-size-x1);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  .body-text-4 {
    font-size: var(--plmg-font-size-x0-875);
  }
  .body-text-2 > br,
  .body-text-3 > br,
  .body-text-4 > br {
    display: block;
    margin-bottom: calc(var(--plmg-font-paragraph-loose) / 10);
    content: " ";
  }
}

/* Small (600px - 959px) */
@media only screen and (min-width: 600px) and (max-width: 959px) {
  h1 {
    font-size: var(--plmg-font-size-x2-5);
    line-height: var(--plmg-font-lineheight-normal);
  }
  h2 {
    font-size: var(--plmg-font-size-x1-5);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  h3 {
    font-size: var(--plmg-font-size-x1-25);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h4 {
    font-size: var(--plmg-font-size-x1-125);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h5 {
    font-size: var(--plmg-font-size-x1);
  }
  .body-text-1 {
    font-size: var(--plmg-font-size-x1-125);
    line-height: var(--plmg-font-lineheight-loose);
  }
  .body-text-2 {
    font-size: var(--plmg-font-size-x1);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  .body-text-3 {
    font-size: var(--plmg-font-size-x0-875);
  }
  .body-text-4 {
    font-size: var(--plmg-font-size-x0-75);
  }
  .body-text-1 > br,
  .body-text-2 > br,
  .body-text-3 > br,
  .body-text-4 > br {
    display: block;
    margin-bottom: calc(var(--plmg-font-paragraph-loose) / 10);
    content: " ";
  }
}

/* Extra Small (0-599px) */
@media only screen and (min-width: 0px) and (max-width: 599px) {
  h1 {
    font-size: var(--plmg-font-size-x2);
    line-height: var(--plmg-font-lineheight-normal);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  h2 {
    font-size: var(--plmg-font-size-x1-25);
    letter-spacing: var(--plmg-font-letterspacing-normal);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h3 {
    font-size: var(--plmg-font-size-x1-125);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h4 {
    font-size: var(--plmg-font-size-x1);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h5 {
    font-size: var(--plmg-font-size-x0-875);
    line-height: var(--plmg-font-lineheight-loose);
  }
  .body-text-1 {
    font-size: var(--plmg-font-size-x1);
    line-height: var(--plmg-font-lineheight-loose);
  }
  .body-text-2 {
    font-size: var(--plmg-font-size-x0-875);
  }
  .body-text-3 {
    font-size: var(--plmg-font-size-x0-75);
  }
  .body-text-4 {
    font-size: var(--plmg-font-size-x0-75);
  }
}

.text-color-black {
  color: #000000;
}

.text-color-red {
  color: #FF0000;
}

.text-color-green {
  color: #00FF00;
}

.text-color-blue {
  color: #0000FF;
}

.text-color-cyan {
  color: #00FFFF;
}

.text-color-magenta {
  color: #FF00FF;
}

.text-color-yellow {
  color: #FFFF00;
}

.text-color-white {
  color: #FFFFFF;
}

.text-transform-uppercase {
  text-transform: uppercase;
}