/* cyrillic-ext */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-ext-200.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-ext-200.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cyrillic */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-200.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-200.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* greek */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  unicode-range: U+0370-03FF;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-greek-200.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-greek-200.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vietnamese */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-vietnamese-200.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-vietnamese-200.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* latin-ext */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-ext-200.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-ext-200.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* latin */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-200.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-200.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cyrillic-ext */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-ext-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-ext-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cyrillic */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* greek */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0370-03FF;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-greek-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-greek-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vietnamese */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-vietnamese-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-vietnamese-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* latin-ext */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-ext-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-ext-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* latin */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cyrillic-ext */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-ext-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-ext-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cyrillic */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* greek */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0370-03FF;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-greek-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-greek-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vietnamese */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-vietnamese-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-vietnamese-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* latin-ext */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-ext-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-ext-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* latin */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cyrillic-ext */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-ext-800.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-ext-800.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cyrillic */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-800.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-cyrillic-800.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* greek */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range: U+0370-03FF;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-greek-800.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-greek-800.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vietnamese */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-vietnamese-800.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-vietnamese-800.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* latin-ext */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-ext-800.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-ext-800.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* latin */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  src: local(""),
    url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-800.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://static.ducky.eco/plumage/fonts/commissioner-v10-latin-800.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html[lang^="ja"] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th,
span,
time {
  font-family: var(--plmg-font-family-sans);
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Desktop */

h1 {
  font-weight: var(--plmg-font-weight-extralight);
  font-size: var(--plmg-font-size-x4);
  letter-spacing: var(--plmg-font-letterspacing-tight);
  line-height: var(--plmg-font-lineheight-tight);
}

h2 {
  font-size: var(--plmg-font-size-x2-5);
  letter-spacing: var(--plmg-font-letterspacing-tight);
  line-height: var(--plmg-font-lineheight-normal);
}

h3 {
  font-size: var(--plmg-font-size-x2);
  letter-spacing: var(--plmg-font-letterspacing-normal);
  line-height: var(--plmg-font-lineheight-normal);
}

h4 {
  font-size: var(--plmg-font-size-x1-5);
  letter-spacing: var(--plmg-font-letterspacing-normal);
  line-height: var(--plmg-font-lineheight-normal);
}

h5 {
  font-size: var(--plmg-font-size-x1-25);
  letter-spacing: var(--plmg-font-letterspacing-normal);
  line-height: var(--plmg-font-lineheight-loose);
}

h2,
h3,
h4,
h5 {
  font-weight: var(--plmg-font-weight-semibold);
}

.body-text-1,
.body-text-2,
.body-text-3,
.body-text-4 {
  font-weight: var(--plmg-font-weight-regular);
}

.body-text-1 {
  font-size: var(--plmg-font-size-x2);
  letter-spacing: var(--plmg-font-letterspacing-normal);
  line-height: var(--plmg-font-lineheight-normal);
}

.body-text-2 {
  font-size: var(--plmg-font-size-x1-25);
  letter-spacing: var(--plmg-font-letterspacing-loose);
  line-height: var(--plmg-font-lineheight-loose);
}

.body-text-3 {
  font-size: var(--plmg-font-size-x1-125);
  letter-spacing: var(--plmg-font-letterspacing-loose);
  line-height: var(--plmg-font-lineheight-loose);
}

.body-text-4 {
  font-size: var(--plmg-font-size-x0-875);
  letter-spacing: var(--plmg-font-letterspacing-loose);
  line-height: var(--plmg-font-lineheight-loose);
}

.body-text-1 > br,
.body-text-2 > br,
.body-text-3 > br,
.body-text-4 > br {
  display: block;
  margin-bottom: calc(var(--plmg-font-paragraph-normal) / 10);
  content: " ";
}

/* Responsive font sizes */

/* Medium (960px - 1279px) */
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  h1 {
    font-size: var(--plmg-font-size-x3);
  }
  h2 {
    font-size: var(--plmg-font-size-x2);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  h3 {
    font-size: var(--plmg-font-size-x1-5);
  }
  h4 {
    font-size: var(--plmg-font-size-x1-25);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h5 {
    font-size: var(--plmg-font-size-x1-125);
  }
  .body-text-1 {
    font-size: var(--plmg-font-size-x1-5);
  }
  .body-text-2 {
    font-size: var(--plmg-font-size-x1-125);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  .body-text-3 {
    font-size: var(--plmg-font-size-x1);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  .body-text-4 {
    font-size: var(--plmg-font-size-x0-875);
  }
  .body-text-2 > br,
  .body-text-3 > br,
  .body-text-4 > br {
    display: block;
    margin-bottom: calc(var(--plmg-font-paragraph-loose) / 10);
    content: " ";
  }
}

/* Small (600px - 959px) */
@media only screen and (min-width: 600px) and (max-width: 959px) {
  h1 {
    font-size: var(--plmg-font-size-x2-5);
    line-height: var(--plmg-font-lineheight-normal);
  }
  h2 {
    font-size: var(--plmg-font-size-x1-5);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  h3 {
    font-size: var(--plmg-font-size-x1-25);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h4 {
    font-size: var(--plmg-font-size-x1-125);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h5 {
    font-size: var(--plmg-font-size-x1);
  }
  .body-text-1 {
    font-size: var(--plmg-font-size-x1-125);
    line-height: var(--plmg-font-lineheight-loose);
  }
  .body-text-2 {
    font-size: var(--plmg-font-size-x1);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  .body-text-3 {
    font-size: var(--plmg-font-size-x0-875);
  }
  .body-text-4 {
    font-size: var(--plmg-font-size-x0-75);
  }
  .body-text-1 > br,
  .body-text-2 > br,
  .body-text-3 > br,
  .body-text-4 > br {
    display: block;
    margin-bottom: calc(var(--plmg-font-paragraph-loose) / 10);
    content: " ";
  }
}

/* Extra Small (0-599px) */
@media only screen and (min-width: 0px) and (max-width: 599px) {
  h1 {
    font-size: var(--plmg-font-size-x2);
    line-height: var(--plmg-font-lineheight-normal);
    letter-spacing: var(--plmg-font-letterspacing-normal);
  }
  h2 {
    font-size: var(--plmg-font-size-x1-25);
    letter-spacing: var(--plmg-font-letterspacing-normal);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h3 {
    font-size: var(--plmg-font-size-x1-125);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h4 {
    font-size: var(--plmg-font-size-x1);
    line-height: var(--plmg-font-lineheight-loose);
  }
  h5 {
    font-size: var(--plmg-font-size-x0-875);
    line-height: var(--plmg-font-lineheight-loose);
  }
  .body-text-1 {
    font-size: var(--plmg-font-size-x1);
    line-height: var(--plmg-font-lineheight-loose);
  }
  .body-text-2 {
    font-size: var(--plmg-font-size-x0-875);
  }
  .body-text-3 {
    font-size: var(--plmg-font-size-x0-75);
  }
  .body-text-4 {
    font-size: var(--plmg-font-size-x0-75);
  }
}

.color-text-primary-strong-dark {
  color: var(--plmg-color-text-primary-strong-dark);
}

.color-text-standout-strong-dark {
  color: var(--plmg-color-text-standout-strong-dark);
}
