/* Header DND sections */

header {
  padding-left: calc(var(--plmg-spacing-x2-5) * 3);
  padding-right: calc(var(--plmg-spacing-x2-5) * 3);
  /* padding-top: var(--plmg-spacing-x5);  */
  z-index: 99;
  position: sticky;
}

/* Medium (960px - 1279px) */
/* Small (600px - 959px) */
/* Extra Small (0-599px) */
@media only screen and (min-width: 0px) and (max-width: 1279px) {
  header {
    padding-left: var(--plmg-spacing-x1);
    padding-right: var(--plmg-spacing-x1);
    /* padding-top: var(--plmg-spacing-x2-5); */
  }
}

/* Header container */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__row-1 {
  padding-top: var(--plmg-spacing-x1);
}

.header__row-1,
.header__row-2 {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  width: 100%;
}

@media (max-width: 1279px) {
  .header__column {
    position: relative;
  }

  .header__row-1 {
    padding-top: 0;
  }

  .header__row-2 {
    justify-content: center;
    gap: var(--plmg-spacing-x0-25);
  }
}

/* Navigation skipper */

.header__skip {
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
}

.header__skip:hover,
.header__skip:focus,
.header__skip:active {
  height: auto;
  left: 0;
  overflow: visible;
  top: 0;
  width: auto;
}

/* Logo */

.header-logo-link {
  align-items: center;
  display: flex;
  height: auto;
  margin-right: auto;
  overflow: hidden;
}

@media (max-width: 1279px) {
  .header-logo-link img {
    margin: 0 auto;
    height: 51px;
  }
}

@media (min-width: 1280px) {
  .header-logo-link img {
    height: 72px;
    max-width: 100%;
  }
}

/* Navigation */

#nav-toggle {
  display: none;
}

/* Mobile toggles */

@media (max-width: 1279px) {
  .header__navigation {
    display: none;
    width: 100%;
  }

  .header__navigation.open {
    background-color: var(--plmg-color-background-neutral);
    display: block;
    width: 320px;
    position: absolute;
    transform: translateX(0);
    z-index: 2;
    padding: var(--plmg-spacing-x1);
    border-width: var(--plmg-border-width-s);
    border-style: solid;
    border-color: var(--plmg-color-border-neutral-weak);
    border-radius: var(--plmg-border-radius-m);
    box-shadow: var(--plmg-shadow-m);
  }
  /* Extra Small / Medium (0-959px) */
  @media only screen and (min-width: 0px) and (max-width: 959px) {
    .header__navigation.open {
      width: 100vw;
      right: calc(0px - var(--plmg-spacing-x1)) !important;
    }
  }

  .header__navigation.open {
    right: var(--plmg-spacing-x2-5);
    top: var(--plmg-spacing-x3);
  }

  .header__navigation--toggle .header__close--toggle {
    cursor: pointer;
    position: relative;
  }

  .header__navigation--toggle.hide {
    display: none;
  }

  .header__navigation--toggle.open {
    display: block;
    margin-left: 0;
    margin-right: auto;
  }

  .header__navigation--toggle:after {
    display: none;
    font-weight: 600;
    position: absolute;
  }

  .header__navigation--toggle.open:after {
    display: block;
    word-break: normal;
  }

  .header__navigation--toggle {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyMSAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuMzc1IDE0LjI1SDIwLjYyNVYxMkgwLjM3NVYxNC4yNVpNMC4zNzUgOC42MjVIMjAuNjI1VjYuMzc1SDAuMzc1VjguNjI1Wk0wLjM3NSAwLjc1VjNIMjAuNjI1VjAuNzVIMC4zNzVaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
    background-size: cover;
    height: 25px;
    width: 25px;
    margin-right: var(--plmg-spacing-x1) !important;
  }

  .header__navigation--toggle.open {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0IDEuNDFMMTIuNTkgMEw3IDUuNTlMMS40MSAwTDAgMS40MUw1LjU5IDdMMCAxMi41OUwxLjQxIDE0TDcgOC40MUwxMi41OSAxNEwxNCAxMi41OUw4LjQxIDdMMTQgMS40MVoiIGZpbGw9IiNFMkUzRTciLz4KPC9zdmc+Cg==);
  }

  .header__close--toggle {
    display: none;
  }

  .header__close--toggle.show {
    display: none;
  }
}
